# All hail doc master Pau
* @Paulescu

# Domain owners
/docs/fine-tuning @fine-tuning-team

/docs/frameworks/leap* @dbhathena
/docs/frameworks/outlines* @Paulescu # TODO: unknown owner

/docs/inference @inference-team
/docs/inference/*-deployment* @tuliren

/docs/key-concepts/ @mlabonne
/docs/models/ @mlabonne

/leap/ @dbhathena
/leap/edge-sdk/ @iamstuffed
/leap/leap-bundle/ @tuliren
/leap/finetuning* @fine-tuning-team

/.github/workflows @tuliren
