@import 'tailwindcss';
@import 'nextra-theme-docs/style.css';

@layer theme, base, components, utilities;

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@config "../../tailwind.config.ts";

@font-face {
  font-family: 'Soehne';
  src: url('../assets/Soehne-Leicht.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Soehne';
  src: url('../assets/Soehne-Buch.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soehne';
  src: url('../assets/Soehne-Kraeftig.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@theme {
  /* Override orange color (to match Liquid branding) */
  --color-orange-50: #fff1ec;
  --color-orange-100: #ffd7c6;
  --color-orange-200: #ffaf8e;
  --color-orange-300: #ff9469;
  --color-orange-400: #ff5f1e;
  --color-orange-500: #e9571b;
  --color-orange-600: #d44f19;
  --color-orange-700: #bf4716;
  --color-orange-800: #aa3f14;
  --color-orange-900: #943711;
  --color-orange-950: #3f1707;

  /* Override purple color (to match Liquid branding) */
  --color-purple-50: #f2edf9;
  --color-purple-100: #e6dbf3;
  --color-purple-200: #b693db;
  --color-purple-300: #864bc4;
  --color-purple-400: #5603ad;
  --color-purple-500: #490294;
  --color-purple-600: #3d027b;
  --color-purple-700: #310162;
  --color-purple-800: #24014a;
  --color-purple-900: #180031;
  --color-purple-950: #06000d;

  /* Override fuchsia color (to match Liquid branding) */
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #f7edfd;
  --color-fuchsia-200: #e9c9f9;
  --color-fuchsia-300: #dba5f5;
  --color-fuchsia-400: #cd81f1;
  --color-fuchsia-500: #af6ece;
  --color-fuchsia-600: #925cac;
  --color-fuchsia-700: #754989;
  --color-fuchsia-800: #573767;
  --color-fuchsia-900: #3a2444;
  --color-fuchsia-950: #100a13;
}

@layer base {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-neutral-950);
    --card: var(--color-white);
    --card-foreground: var(--color-neutral-950);
    --popover: var(--color-white);
    --popover-foreground: var(--color-neutral-950);
    --primary: var(--color-neutral-950);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-purple-50);
    --secondary-foreground: var(--color-purple-800);
    --muted: var(--color-neutral-100);
    --muted-foreground: var(--color-neutral-500);
    --accent: var(--color-purple-400);
    --accent-foreground: var(--color-white);
    --destructive: var(--color-red-700);
    --destructive-foreground: var(--color-white);
    --border: rgba(0, 0, 0, 0.12);
    --input: var(--color-neutral-200);
    --ring: var(--color-neutral-400);
    --chart-1: var(--color-purple-400);
    --chart-2: var(--color-orange-400);
    --chart-3: var(--color-fuchsia-400);
    --chart-4: var(--color-sky-400);
    --chart-5: var(--color-amber-400);
    --sidebar: var(--color-neutral-100);
    --sidebar-foreground: var(--color-neutral-950);
    --sidebar-primary: var(--color-neutral-950);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-purple-400);
    --sidebar-accent-foreground: var(--color-white);
    --sidebar-border: rgba(0, 0, 0, 0.12);
    --sidebar-ring: var(--color-neutral-400);

    /* base blob colors */
    --bg-orange-blob: 251, 200, 170;
    --color-purple-base: 235, 205, 250;

    /* blob colors with opacity */
    --blob-orange: rgba(var(--bg-orange-blob), 1);
    --blob-purple: rgba(var(--color-purple-base), 1);

    /* base background */
    --bg-blob-color: rgb(243, 242, 242);
  }

  .dark {
    --background: var(--color-neutral-900);
    --foreground: var(--color-white);
    --card: var(--color-neutral-950);
    --card-foreground: var(--color-white);
    --popover: var(--color-neutral-950);
    --popover-foreground: var(--color-white);
    --primary: var(--color-white);
    --primary-foreground: var(--color-neutral-950);
    --secondary: var(--color-purple-600);
    --secondary-foreground: var(--color-purple-50);
    --muted: var(--color-neutral-800);
    --muted-foreground: var(--color-neutral-400);
    --accent: var(--color-purple-200);
    --accent-foreground: var(--color-neutral-950);
    --destructive: var(--color-red-200);
    --destructive-foreground: var(--color-red-900);
    --border: rgba(0, 0, 0, 0.16);
    --input: var(--color-neutral-500);
    --ring: var(--color-neutral-500);
    --chart-1: var(--color-purple-100);
    --chart-2: var(--color-orange-100);
    --chart-3: var(--color-fuchsia-200);
    --chart-4: var(--color-sky-100);
    --chart-5: var(--color-amber-100);
    --sidebar: var(--color-neutral-700);
    --sidebar-foreground: var(--color-white);
    --sidebar-primary: var(--color-white);
    --sidebar-primary-foreground: var(--color-neutral-950);
    --sidebar-accent: var(--color-purple-100);
    --sidebar-accent-foreground: var(--color-neutral-950);
    --sidebar-border: rgba(0, 0, 0, 0.16);
    --sidebar-ring: var(--color-neutral-500);

     /* base blob colors */
     --bg-orange-blob: 83, 68, 56;
     --color-purple-base: 95, 36, 115;
 
     /* blob colors with opacity */
     --blob-orange: rgba(var(--bg-orange-blob), 1);
     --blob-purple: rgba(var(--color-purple-base), 1);

    /* base background */
    --bg-blob-color: rgb(34, 34, 34);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-soehne;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1 {
    @apply text-4xl font-normal -tracking-[0.72px] leading-[120%];
  }

  h2 {
    @apply text-3xl font-normal -tracking-[0.6px] leading-[120%];
  }

  h3 {
    @apply text-xl font-normal -tracking-[0.4px] leading-[120%];
  }

  h4 {
    @apply text-lg font-bold leading-[140%];
  }

  p,ul,li,ol {
    @apply text-sm font-normal -tracking-[0.3px] leading-[140%] text-muted-foreground;
  }

  /* Medium screens (≥ 768px) */
  @media (min-width: 768px) {
    h1 {
      @apply text-5xl font-normal -tracking-[1.44px] leading-[120%];
    }
    h2 {
      @apply text-4xl font-normal -tracking-[0.6px] leading-[120%];
    }
    h3 {
      @apply text-2xl font-normal -tracking-[0.48px] leading-[120%];
    }
    h4 {
      @apply text-xl font-bold -tracking-[0.4px] leading-[120%];
    }
    p,ul,li,ol {
      @apply text-sm font-normal -tracking-[0.3px] leading-[140%] text-muted-foreground;
    }
  }

  /* Large screens (≥ 1024px) */
  @media (min-width: 1024px) {
    h1 {
      @apply text-6xl font-normal -tracking-[1.8px] leading-[120%];
    }
    h2 {
      @apply text-5xl font-normal -tracking-[0.72px] leading-[120%];
    }
    h3 {
      @apply text-2xl font-normal -tracking-[0.48px] leading-[120%];
    }
    h4 {
      @apply text-xl font-bold tracking-[0.4px] leading-[120%];
    }
    p,ul,li,ol {
      @apply text-base font-normal -tracking-[0.3px] leading-[140%] text-muted-foreground;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
    background-clip: content-box;
    min-width: 20px;
    min-height: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@layer components {
  .monospace {
    @apply font-jetbrains text-xs font-normal -tracking-[0.3px] leading-[140%];
  }

  /*** Background Blobs ***/

  .badge-linear-gradient {
    background: linear-gradient(75deg, #5603AD -84.69%, #CD81F1 43.2%, #FF5F1F 107.15%, #FFF 171.1%);
  }

  .bg-gradient-section-1 {
    position: relative;
    background: var(--bg-blob-color);
    background-image: 
      radial-gradient(ellipse 40% 80% at 30% 80%, var(--blob-purple) 30%, transparent 100%),
      radial-gradient(ellipse 20% 50% at 50% 40%, var(--blob-purple) 10%, transparent 100%),
      radial-gradient(ellipse 40% 80% at 50% 60%, var(--blob-orange) 20%, transparent 100%),
      radial-gradient(ellipse 20% 50% at 70% 20%, var(--blob-orange) 10%, transparent 100%);
  }

  .bg-gradient-section-2 {
    position: relative;
    background:var(--bg-blob-color);
    background-image: 
      radial-gradient(ellipse 50% 80% at 50% 20%, var(--blob-purple) 30%, transparent 100%),
      radial-gradient(ellipse 20% 50% at 50% 70%, var(--blob-orange) 10%, transparent 100%),
      radial-gradient(ellipse 50% 60% at 30% 60%, var(--blob-orange) 20%, transparent 100%),
      radial-gradient(ellipse 50% 50% at 80% 50%, var(--blob-purple) 10%, transparent 100%);
  }

  .bg-gradient-tier {
    background: linear-gradient(150deg, var(--background) 0%, var(--blob-purple) 60%, var(--blob-orange) 90%);
  }

  .gradient-text {
    background-image: linear-gradient(45deg, var(--color-purple-400) 0%, var(--color-fuchsia-400) 30%, var(--color-orange-400) 100%);
    color: transparent;
    background-clip: text;
  }
  
  .bg-gradient-blob-bottom {
    position: relative;
    background: var(--bg-blob-color);
    background-image: 
      radial-gradient(ellipse 40vw 50vh at 40% 90%, var(--blob-purple) 40%, transparent 100%),
      radial-gradient(ellipse 30vw 40vh at 30% 95%, var(--blob-purple) 40%, transparent 100%),
      radial-gradient(ellipse 30vw 50vh at 60% 99%, var(--blob-orange) 40%, transparent 100%);
  }
  
  .bg-gradient-blob {
    position: relative;
    background: var(--bg-blob-color);
    background-image: 
      radial-gradient(ellipse 25vw 30vh at 30vw 50vh, var(--blob-purple) 20%, transparent 100%),
      radial-gradient(ellipse 35vw 40vh at 50vw 20vh, var(--blob-purple) 40%, transparent 100%),
      radial-gradient(ellipse 45vw 40vh at 60vw 40vh, var(--blob-orange) 40%, transparent 100%),
      radial-gradient(ellipse 40vw 50vh at 40% 90%, var(--blob-purple) 40%, transparent 100%),
      radial-gradient(ellipse 30vw 40vh at 30% 95%, var(--blob-purple) 40%, transparent 100%),
      radial-gradient(ellipse 30vw 50vh at 60% 99%, var(--blob-orange) 40%, transparent 100%);
  }

  /*** Custom Codeblock Styling ***/

  .pre-syntax-highlighter {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    overflow-x: auto !important;
    white-space: pre-wrap !important;
  }

  .react-syntax-highlighter-line-number {
    width: 1.5rem;
  }

  .pre-syntax-highlighter > code > span {
    font-size: 0.6rem !important;
  }

  .pre-syntax-highlighter > code {
    user-select: none !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    letter-spacing: -1px;
  }

  /* Small screens (≥ 640px) */
  @media (min-width: 640px) {
    .pre-syntax-highlighter {
      white-space: pre !important;
    }

    .react-syntax-highlighter-line-number {
      width: 2rem;
    }

    .pre-syntax-highlighter > code {
      letter-spacing: normal;
    }

    .pre-syntax-highlighter > code > span {
      font-size: 0.65rem !important;
    }
  }

  /* Medium screens (≥ 768px) */
  @media (min-width: 768px) {
    .monospace {
      @apply font-jetbrains text-xs font-normal -tracking-[0.3px] leading-[140%];
    }
    .pre-syntax-highlighter > code > span {
      font-size: 0.8rem !important;
    }
  }

  @media (min-width: 1024px) {
    .monospace {
      @apply font-jetbrains text-sm font-normal -tracking-[0.3px] leading-[140%];
    }
  }

  /*** Custom markdown styling **/

  .markdown-content {
    h1 {
      @apply text-4xl font-normal -tracking-[0.48px] leading-[120%] pb-[1rem];
    }

    h2 {
      @apply text-3xl font-normal -tracking-[0.48px] leading-[120%] py-[1rem];
    }

    h3 {
      @apply text-2xl font-normal -tracking-[0.48px] leading-[120%];
    }

    h4 {
      @apply text-xl font-normal -tracking-[0.48px] leading-[120%];
    }

    h5 {
      @apply text-xl font-normal -tracking-[0.48px] leading-[120%];
    }

    ul {
      @apply list-disc ml-[1.5rem] mt-[0.25rem];
    }

    a {
      @apply text-accent;
    }
  }
}
