name: Algolia Indexing

on:
  workflow_dispatch:
  repository_dispatch:
    types: [algolia-index]
  push:
    branches:
      - production
    paths:
      - 'lfm/**'
      - 'leap/**'
      - 'examples/**'
      - 'src/**'
      - 'static/**'
      - 'docusaurus.config.ts'
      - 'sidebars*.ts'

jobs:
  trigger-algolia-crawl:
    runs-on: ubuntu-latest
    steps:
    - uses: cssnr/algolia-crawler-action@v2
      with:
        # https://crawler.algolia.com/admin/crawlers
        crawler_id: ${{ secrets.ALGOLIA_CRAWLER_ID }}
        # https://crawler.algolia.com/admin/user/settings
        crawler_user_id: ${{ secrets.ALGOLIA_CRAWLER_USER_ID }}
        crawler_api_key: ${{ secrets.ALGOLIA_CRAWLER_API_KEY }}
